* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.first-section {
    height: 800px;
    /* в учебных целях. НЕ СТАВЬТЕ ВЫСОТУ */
    background: url("../images/blur.png") repeat-x center bottom,
        url("../images/symbol.png") no-repeat center bottom,
        url("../images/pattern.svg") no-repeat center bottom,
        linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%)
}

.second-section {
    /* height: 1394px;  */
    /* в учебных целях. НЕ СТАВЬТЕ ВЫСОТУ */
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0 0 12px 12px;
    position: relative;
    margin-bottom: 100px;
}

.second-section:before,
.second-section:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url('../images/bottom-line-big.png') no-repeat center center;
    background-size: 98%;
}

.second-section:after {
    bottom: -20px;
    background: url('../images/bottom-line-small.png') no-repeat center center;
    background-size: 95%;
}

.container {
    width: 1350px;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 155px;
    margin-top: 20px;
}

.header-wrap1 {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 0px;
}

.text {
    font-family: TT Norms;
    font-weight: 700;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;

}

.text1 {
    font-family: TT Norms;
    font-weight: 400;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.menu {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 19px;
}

.text2 {
    display: inline-block;
    margin-left: 10px;
}

.text2 a {
    font-family: TT Norms;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.text3 {
    font-family: TT Norms;
    font-weight: 500;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 450px;
    margin-top: 280px;
    font-size: 38px;
    text-align: center;
}

.header-wrap2 {
    width: 527px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: 60px;
}

.text4 p {
    font-family: TT Norms;
    font-weight: 700;
    color: #B3B3BA;
    margin-left: 10px;
    font-size: 42px;
    text-align: right;
}

.wrap2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;

}

.menu1 {
    width: 500px;
    height: 400px;
    margin-top: 80px;
    margin-left: 100px;
}

.text4 {
    font-family: TT Norms;
    font-weight: 700;
    color: #B3B3BA;
    margin-left: 10px;
    font-size: 42px;
    text-align: right;
}

.wrap3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: 20px;
}

.menu2 {
    width: 1500px;
    height: 400px;
}

.text5 p {
    font-family: TT Norms;
    font-weight: 700;
    color: #FFFFFF;
    display: left;
    margin-left: 90px;
    margin-top: 40px;
    font-size: 22px;
    text-align: left;
}

.text6 p {
    font-family: TT Norms;
    font-weight: 500;
    color: #FFFFFF;
    display: left;
    margin-left: 90px;
    margin-top: 40px;
    font-size: 15px;
    text-align: left;
}

.text7 {
    font-family: TT Norms;
    font-weight: 700;
    color: #B3B3BA;
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
}

.text8 {
    font-family: TT Norms;
    font-weight: 700;
    color: #B3B3BA;
    margin-left: 10px;
    font-size: 42px;
    text-align: left;
}

.services-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.wrap4 {
    width: 413px;
    margin-top: 80px;

}

.text9 {
    font-family: TT Norms;
    font-weight: 500;
    color: #24A3FF;
    display: left;
    margin-left: 0px;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 24px;

}

.text10 {
    font-family: TT Norms;
    font-weight: 500;
    color: #FFFFFF;
    display: left;
    font-size: 15px;
    text-align: left;
    margin-top: 50px;
}

.wrap5 {
    width: 360px;
    margin: 0 auto;
}

.first-section .container1 {
    /* width: 1440px; */
    margin: 0 auto;
}

.text11 {
    font-family: TT Norms;
    font-weight: 500;
    color: #323264;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.wrap6 {
    width: 360px;
    margin: 0 auto;
    /* height: 120px; */

}

/* .logo2-img {
    width: 360px;
    height: 120px;
    
} */
.header-wrap3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 0px;
}

.text12 {
    font-family: TT Norms;
    font-weight: 500;
    color: #323264;
    font-size: 16px;
    text-align: right;
    margin-top: 30px;

}

a.text13 {
    font-family: TT Norms;
    font-weight: 700;
    color: #24A3FF;
    font-size: 16px;
    text-align: right;
    margin-top: 30px;
    margin-left: 20px;

}

.text14 {
    font-family: TT Norms;
    font-weight: 500;
    color: #B3B3BA;
    font-size: 16px;
    text-align: left;
    margin-top: 30px;

}

.header-wrap4 {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-top: 0px;
}
.wrap7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0px;
    width: 413px;
    height: 500px;
}
.wrap8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: end;
    margin-top: 0px;
    width: 867px;
    height: 288px;
}

.text15 {
    font-family: TT Norms;
    font-weight: 700;
    color: #46466E;
    font-size: 16px;
    text-align: right;
    margin-top: 30px;

}


.text16 p {
    font-family: TT Norms;
    font-weight: 500;
    color: #F0145A;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.text17 {
    font-family: TT Norms;
    font-weight: 500;
    color: #686887;
    font-size: 24px;
    text-align: left;
    margin-top: 30px;
}

.text18 {
    font-family: TT Norms;
    font-weight: 500;
    color: #B3B3BA;
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
}

.wrap-template {
    height: 100vh;
    display: grid;
    /* grid-template-areas: "header-block header-block header-block" "nav-block   main-block  aside-block" "footer-block footer-block footer-block"; */
    gap: 10px;
    grid-template-columns: 320px 113px 361px 93px 433px;
    grid-template-rows: 58px 198px 198px;
}

.item {
    grid-column-start: 1;
    grid-row-start: 1;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item4 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

.item6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
}
.text19 {
    font-family: TT Norms;
    font-weight: 500;
    color: #24A3FF;
    display: left;
    margin-left: 0px;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 14px;
}
.text20 {
    font-family: TT Norms;
    font-weight: 500;
    color: #24A3FF;
    display: left;
    font-size: 15px;
}
.text21 {
    font-family: TT Norms;
    font-weight: 500;
    color: #B3B3BA;
    font-size: 12px;
    text-align: left;
    margin-top: 30px;
}
.text22 {
    font-family: TT Norms;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-align: left;
    margin-top: 30px;
}
.wrap-template1 {
    height: 100vh;
    display: grid;
    /* grid-template-areas: "header-block header-block header-block" "nav-block   main-block  aside-block" "footer-block footer-block footer-block"; */
    gap: 10px;
    grid-template-columns: 413px 413px 413px;
    grid-template-rows: 70px 265px 155px 42px 40px 300px;
}
.item7 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.item8 {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 20px;
}

.item9 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 20px;
}


.item10 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    margin-top: 20px;
}


.item11 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.item12 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 7;
}

.item13 {
    grid-column-start: 3;
    grid-row-start: 5;
}